.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarCenter {
  flex: 7;
}
.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  vertical-align: "middle";
  margin-top: 10px;
}

.topbarRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLeft {
  flex: 7;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topbarLink {
  float: left;
  padding: 8px;
  margin-top: 8px;
  cursor: pointer;
}
.topbarLinks {
  text-align: center;
  display: inline;
}

@media screen and (max-width: 768px) {
  .topbarLink {
    display: none;
  }
}
